{% load i18n %}
<p><label>{{office.seo_title }}</label> <span title="{{ office.town.country }}">{{ office.town }}</span></p>
<p class="contacts">
{% if office.prime_phone %}
<label>
{{ office.prime_phone.contact_type.contact_short_type }}: 
</label>	
{{ office.prime_phone.contact }}
{% endif %}
<br>
{% if office.prime_email %}	
<label>{{ office.prime_email.contact_label }}:</label> <span class="mailto" data-email="{{ office.prime_email.contact_base64 }}"></span>
{% endif %}
<br>
{% if office.second_email %}	
<label>{{ office.second_email.contact_label }}:</label> <span class="mailto" data-email="{{ office.second_email.contact_base64 }}"></span>
{% endif %}
</p>
